@model List<MyApp.Infrastructure.Data.Category>
@{
    Layout = "_Layout";
}
<div class="flex flex-col">
    @*<form asp-action="" method="post"></form>*@
    <table class="table">
        <thead class="t-head"> 
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Heading Tag</th>
                <th>isPublish</th>
                <th>Date Create</th>
                <th>Date Update</th>
                <th>is Delete</th>
            </tr>
        </thead>
        <tbody class="t-body">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>