@model List<MyApp.Infrastructure.Data.Category>
@{
    Layout = "_Layout";
    var list = Model;
}

<div class="flex flex-col">
    <a asp-controller="category" asp-action="create" class="btn-primary w-fit">Create</a>
    <table class="table">
        <thead class="t-head"> 
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Heading Tag</th>
                <th>isPublish</th>
                <th>Date Create</th>
                <th>Date Update</th>
                <th>is Delete</th>
            </tr>
        </thead>
        <tbody class="t-body">

            @{ if(list.Count!=0){
                    foreach(var e in list){
                        <tr>
                            <td>e.Id</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                }else{
                    <tr>
                        <td colspan="8">No data </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
</div>