@{
    Layout = "_Layout";
    var title = ViewData["Title"];
}

@model MyApp.Web.Models.Account.UserInfor
@{
    var name = Model.Name;
    var sn = DateTime.Now.Year - Model.BirthYear;
}

<form id="form1" method="post">
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="birthyear" placeholder="year" />
    <button type="submit">Submit</button>
</form>
@{
    <h4>Chúc mừng sinh nhật @name lần thứ @sn</h4>
}