@{
    Layout = "_Layout";
    var title = ViewData["Title"];
    var id = ViewData["Id"];
    var placeholder = ViewData["Placeholder"];
    var submit = ViewData["submit"];
}

<h1>@title</h1>
<form asp-area="" asp-controller="Account" asp-action="Login" method="post" class="w-[200px]">
    <div>
        <label class="" asp-formaction="UserName">UserName</label>
        @Html.PartialAsync("Components/_InputField")
    </div>
    <div>
        <label>Password</label>
        @* <InputField Id="Password" Placeholder="Password" /> *@
    </div>
    @* @await Html.PartialAsync("Components/_BtnSubmit") *@
</form>
