<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My ASP.NET Core Application</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>

<body class="theme-default container mx-auto">
    @await Html.PartialAsync("_Header")
    <div class="container">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_Footer")
</body>

</html>
