<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My ASP.NET Core Application</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
    @RenderSection("header", required:false)

</head>

<body class="theme-default container mx-auto">
    <partial name="_Header"></partial>
    @*@Html.PartialAsync("_Header")*@
    <div class="container flex flex-row">
        <partial name="_LeftBar"></partial>
        @RenderBody()
    </div>
    @RenderSection("footer", required:false)
    <partial name="_Footer"></partial>
    
</body>

</html>
